
<!DOCTYPE html>
<html lang="en">
<head>

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',4000,
        {'GTM-K9BGS8K':true});</script>

<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46172202-22', 'auto', {allowLinker: true});
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com","avangate.com"]);
        </script>


<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NKDMSK6');</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="csrf-token" content="E1Hp3Kva1sBacFDctluaNYzeSfVXQ7RGjtAARGxn">
<title>White Dashboard Laravel by Creative Tim &amp; UPDIVISION</title>



<link rel="canonical" href="https://www.creative-tim.com/product/white-dashboard-laravel" />

<meta name="keywords" content="design system, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, white, white dashboard, creative tim, updivision, html dashboard, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap dashboard, responsive dashboard, laravel, laravel php, laravel php framework, free laravel admin template, free laravel admin, free laravel admin template + Front End + CRUD, crud laravel php, crud laravel, laravel backend admin dashboard">
<meta name="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">

<meta itemprop="name" content="White Dashboard Laravel by Creative Tim & UPDIVISION">
<meta itemprop="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">
<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179">

<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="White Dashboard Laravel by Creative Tim & UPDIVISION">
<meta name="twitter:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179">

<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="White Dashboard Laravel by Creative Tim & UPDIVISION" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.creative-tim.com/live/white-dashboard-laravel" />
<meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179" />
<meta property="og:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up" />
<meta property="og:site_name" content="Creative Tim" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
<link rel="icon" type="image/png" href="/img/favicon.png">

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<link href="/css/nucleo-icons.css" rel="stylesheet" />

<link href="/css/white-dashboard.css?v=1.0.0" rel="stylesheet" />
<link href="/css/theme.css" rel="stylesheet" />
</head>
<body class="white-content register-page">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top">
<div class="container-fluid">
<div class="navbar-wrapper">
<div class="navbar-toggle d-inline">
<button type="button" class="navbar-toggler">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</button>
</div>
<a class="navbar-brand" href="#">Register Page</a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-bar navbar-kebab"></span>
<span class="navbar-toggler-bar navbar-kebab"></span>
<span class="navbar-toggler-bar navbar-kebab"></span>
</button>
<div class="collapse navbar-collapse" id="navigation">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a href="/home" class="nav-link text-primary">
<i class="tim-icons icon-minimal-left"></i> Back to Dashboard
</a>
</li>
<li class="nav-item ">
<a href="/register" class="nav-link">
<i class="tim-icons icon-laptop"></i> Register
</a>
</li>
<li class="nav-item ">
<a href="/login" class="nav-link">
<i class="tim-icons icon-single-02"></i> Login
</a>
</li>
</ul>
</div>
</div>
</nav>
<div class="wrapper wrapper-full-page">
<div class="full-page register-page">
<div class="content">
 <div class="container">
<div class="row">
<div class="col-md-5 ml-auto">
<div class="info-area info-horizontal mt-5">
<div class="icon icon-warning">
<i class="tim-icons icon-wifi"></i>
</div>
<div class="description">
<h3 class="info-title">Marketing</h3>
<p class="description">
We&#039;ve created the marketing campaign of the website. It was a very interesting collaboration.
</p>
</div>
</div>
<div class="info-area info-horizontal">
<div class="icon icon-primary">
<i class="tim-icons icon-triangle-right-17"></i>
</div>
<div class="description">
<h3 class="info-title">Fully Coded in HTML5</h3>
<p class="description">
We&#039;ve developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
</p>
</div>
</div>
<div class="info-area info-horizontal">
<div class="icon icon-info">
<i class="tim-icons icon-trophy"></i>
</div>
<div class="description">
<h3 class="info-title">Built Audience</h3>
<p class="description">
There is also a Fully Customizable CMS Admin Dashboard for this product.
</p>
</div>
</div>
</div>
<div class="col-md-7 mr-auto">
<div class="card card-register card-white">
<div class="card-header">
<img class="card-img" src="/img/card-primary.png" alt="Card image">
<h4 class="card-title">Register</h4>
</div>
<form class="form" method="post" action="/register">
<input type="hidden" name="_token" value="E1Hp3Kva1sBacFDctluaNYzeSfVXQ7RGjtAARGxn">
<div class="card-body">
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="tim-icons icon-single-02"></i>
</div>
</div>
<input type="text" name="name" class="form-control" placeholder="Name" value="">
</div>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="tim-icons icon-email-85"></i>
</div>
</div>
<input type="email" name="email" class="form-control" placeholder="Email" value="">
</div>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="tim-icons icon-lock-circle"></i>
</div>
</div>
<input type="password" name="password" class="form-control" placeholder="Password">
</div>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="tim-icons icon-lock-circle"></i>
 </div>
</div>
<input type="password" name="password_confirmation" class="form-control" placeholder="Confirm Password">
</div>
<div class="form-check text-left ">
<label class="form-check-label">
<input class="form-check-input " name="agree_terms_and_conditions" type="checkbox">
<span class="form-check-sign"></span>
I agree to the
<a href="#">terms and conditions</a>.
</label>
</div>
</div>
<div class="card-footer">
<button type="submit" class="btn btn-primary btn-round btn-lg">Get Started</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<div class="container-fluid">
<ul class="nav">
<li class="nav-item">
<a href="https://creative-tim.com" target="blank" class="nav-link">
Creative Tim
</a>
</li>
<li class="nav-item">
<a href="https://updivision.com" target="blank" class="nav-link">
Updivision
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
About Us
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Blog
</a>
</li>
</ul>
<div class="copyright">
&copy; 2022 made with <i class="tim-icons icon-heart-2"></i> by
<a href="https://creative-tim.com" target="_blank">Creative Tim</a> &amp;
<a href="https://updivision.com" target="_blank">Updivision</a> for a better web.
</div>
</div>
</footer>
</div>
</div>
<script src="/js/core/jquery.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>




<script src="/js/plugins/bootstrap-notify.js"></script>
<script src="/js/white-dashboard.js?v=1.0.0"></script>
<script src="/js/theme.js"></script>
<script>
            $(document).ready(function() {
                $().ready(function() {
                    $sidebar = $('.sidebar');
                    $navbar = $('.navbar');
                    $main_panel = $('.main-panel');

                    $full_page = $('.full-page');

                    $sidebar_responsive = $('body > .navbar-collapse');
                    sidebar_mini_active = true;
                    white_color = false;

                    window_width = $(window).width();

                    fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                    $('.fixed-plugin a').click(function(event) {
                        if ($(this).hasClass('switch-trigger')) {
                            if (event.stopPropagation) {
                                event.stopPropagation();
                        } else if (window.event) {
                                window.event.cancelBubble = true;
                            }
                        }
                    });

                    $('.fixed-plugin .background-color span').click(function() {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data', new_color);
                        }

                        if ($main_panel.length != 0) {
                            $main_panel.attr('data', new_color);
                        }

                        if ($full_page.length != 0) {
                            $full_page.attr('filter-color', new_color);
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.attr('data', new_color);
                        }
                    });

                    $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
                        var $btn = $(this);

                        if (sidebar_mini_active == true) {
                            $('body').removeClass('sidebar-mini');
                            sidebar_mini_active = false;
                            whiteDashboard.showSidebarMessage('Sidebar mini deactivated...');
                        } else {
                            $('body').addClass('sidebar-mini');
                            sidebar_mini_active = true;
                            whiteDashboard.showSidebarMessage('Sidebar mini activated...');
                        }

                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function() {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);

                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function() {
                            clearInterval(simulateWindowResize);
                        }, 1000);
                    });

                    $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
                            var $btn = $(this);

                            if (white_color == true) {
                                $('body').addClass('change-background');
                                setTimeout(function() {
                                    $('body').removeClass('change-background');
                                    $('body').removeClass('white-content');
                                }, 900);
                                white_color = false;
                            } else {
                                $('body').addClass('change-background');
                                setTimeout(function() {
                                    $('body').removeClass('change-background');
                                    $('body').addClass('white-content');
                                }, 900);

                                white_color = true;
                            }
                    });

                    $('.light-badge').click(function() {
                        $('body').addClass('white-content');
                    });

                    $('.dark-badge').click(function() {
                        $('body').removeClass('white-content');
                    });
                });
            });
        </script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"768c13e2ce5e76cc","version":"2022.11.0","r":1,"token":"1b7cbb72744b40c580f8633c6b62637e","si":100}' crossorigin="anonymous"></script>
</body>
</html>
