
<!DOCTYPE html>
<html lang="en">
<head>
<style>.async-hide { opacity: 0 !important} </style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="csrf-token" content="OPdKH0U2qJ0CrFNu4jGdtG9ig4x8qt3pUqmMloNP">
<title>White Dashboard Laravel by Creative Tim &amp; UPDIVISION</title>
<link rel="canonical" href="https://www.creative-tim.com/product/white-dashboard-laravel" />
<meta name="keywords" content="design system, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, white, white dashboard, creative tim, updivision, html dashboard, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap dashboard, responsive dashboard, laravel, laravel php, laravel php framework, free laravel admin template, free laravel admin, free laravel admin template + Front End + CRUD, crud laravel php, crud laravel, laravel backend admin dashboard">
<meta name="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">
<meta itemprop="name" content="White Dashboard Laravel by Creative Tim & UPDIVISION">
<meta itemprop="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">
<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179">
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="White Dashboard Laravel by Creative Tim & UPDIVISION">
<meta name="twitter:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179">
<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="White Dashboard Laravel by Creative Tim & UPDIVISION" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.creative-tim.com/live/white-dashboard-laravel" />
<meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/215/original/opt_wd_laravel_thumbnail.jpg?1567087179" />
<meta property="og:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Laravel Framework 8.x and Up" />
<meta property="og:site_name" content="Creative Tim" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
<link rel="icon" type="image/png" href="/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="/css/nucleo-icons.css" rel="stylesheet" />
<link href="/css/white-dash1.css?v=1.0.0" rel="stylesheet" />
<link href="/css/theme.css" rel="stylesheet" />
</head>
<body class="white-content ">
<div class="wrapper">
<div class="main-panel">
<%- include ('../partials/nav2.ejs') %>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<i class="tim-icons icon-simple-remove"></i>
</button>
</div>
</div>
</div>
</div>
<div class="content1">
  <div class="svg_gift">
    </div>
<div class="row">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/img/anansi.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/img/spot.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="/img/35269_hd.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/img/science.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
</div>
<br />
<div class="row">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/img/MLK-PNG1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><a href="/components"><div class="edit12"></div></a></small>
              <small class="text-muted"><a href="/components"><div class="play12"></div></a></small>
              <small class="text-muted"><a href="/components"><div class="duplicate12"></div></a></small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/img/download.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="/img/reading1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/img/nelson.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<%- include ('../partials/footer2.ejs') %>
</div>
</div>
<form id="logout-form" action="logout" method="POST" style="display: none;">
<input type="hidden" name="_token" value="OPdKH0U2qJ0CrFNu4jGdtG9ig4x8qt3pUqmMloNP"> </form>
<%- include ('../partials/footer1.ejs') %>
</body>
</html>
